
.aqua-marine{
    background-color: aquamarine;
}

.white{
    color: white;
}

.align{
    margin-top: -4px;
}

.pad-left{
    padding-left: 15px; 
}

.navbar{
    position: fixed !important;
    z-index: 1;
}